* {
  /* border: 1px solid red; */
}

html,
body {
  max-width: 1440px;
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: underline;
}

a:hover {
  color: rgb(148, 146, 146);
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #fff;
}

.nav-list {
  width: 120%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 29px;
  margin-top: 135px;
  margin-bottom: 137px;
  margin-left: 44px;
  color: #000;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  list-style-type: circle;
}

.a-child {
  text-decoration: none;
}

.without-circle {
  list-style-type: none;
}

.div-logo-black {
  display: block;
}

.logo-black {
  width: 148px;
  height: 105px;
  margin-top: 92px;
  margin-bottom: 96px;
  margin-left: 250px;
}

.address {
  padding-left: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-top: 90px;
  margin-right: 49px;
  margin-bottom: 99px;
  margin-left: 355px;
  color: #000;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px; /* 135% */
}

.address-map {
  max-width: 240px;
  width: 100%;
  display: flex;
  justify-content: baseline;
  flex-wrap: nowrap;

}

.cover {
  margin-top: -5px;
  position: relative;
  z-index: 0;
  width: 100%;
  max-height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: #000;
}

.cover__title {
  z-index: 2;
  position: relative;
  color: #fff;
  font-family: Raleway;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 115%; /* 115px */
  letter-spacing: 30px;
  text-transform: uppercase;
}

.letter-spacing-extended-no {
  line-height: 115%;
  letter-spacing: 60px;
}

.letter-spacing-extended-be {
  line-height: 100%;
  letter-spacing: 60px;
}

.letter-spacing-extended-na {
  line-height: 100%; /* 100px */
  letter-spacing: 60px;
  text-align: right;
}

.text-main{
  display: block;
  width: 1440px;
}

.text-left {
  padding-top: 165px;
  padding-left: 50px;
  text-align: left;
}

.text-center {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.text-right {
  margin-top: -10px;
  padding-right: 50px;
  text-align: right;
}

.slogan-span {
  display: flex;
  justify-content: space-between;
  width: 633px;
}

.slogan-button {
  z-index: 2;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  gap: 100px;
}
.slogan {
  margin-bottom: 62px;
  color: #fff;
  font-family: Raleway;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 28px; /* 127.273% */
  text-align: center;
  text-transform: uppercase;
}

.button {
  width: 257px;
  height: 52px;
  margin-top: 130px;
  margin-right: 50px;
  border: 1px solid #fff;
  padding-top: 10px;
  color: #fff;
  font-family: Raleway;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}

.all-lots {
  display: flex;
  justify-content: space-between;
  margin: 8px;
}

.lots__heading {
  margin-bottom: 27px;
  padding-top: 180px;
  padding-left: 85px;
  color: #000;
  font-family: Raleway;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.lots__cards-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  gap: 25px;
  margin-left: 50px;
  margin-top: 27px;
  margin-right: 50px;
}

.card {
  width: 430px;
  height: 450px;
  position: relative;
  z-index: 2;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.card_type_paint {
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: #000;
}

.card__title {
  z-index: 2;
  position: relative;
  padding-top: 50px;
  padding-right: 40px;
  padding-left: 40px;
  color: #fff;
  font-family: Raleway;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  line-height: 120%; /* 26.4px */
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  z-index: 2;
  position: relative;
  padding-top: 190px;
  padding-right: 40px;
  padding-left: 40px;
  color: #fff;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 120%; /* 24px */
}

.card__text__book {
  padding-top: 30px;
}

.card__text__paint {
  padding-top: 84px;
}

.look_more {
  display: block;
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 90px;
  margin-top: 30px;
}

.link-show-more {
  display: block;
  margin-top: 30px;
  margin-left: 90px;
  color: #000;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}

.about-column {
  display: flex;
}

.logo-white-div {
  width: 240px;
  margin-top: 182px;
  margin-right: 95px;
  margin-left: 145px;
  border-radius: 50%;
  background-color: #000;
}

.logo-white {
  width: 148px;
  height: 114px;
  margin-top: 63px;
  margin-left: 46px;
}

.about__title {
  margin-top: 281px;
  margin-bottom: 100px;
  margin-left: 25px;
  color: #000;
  font-family: Raleway;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.main-text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 885px;
  width: 100%;
  margin-right: 50px;
  margin-left: 505px;
  text-align: left;
}

.paragraph {
  color: #000;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  width: 130%;
  padding-left: 50px;
  margin-top: 50px;
}

.without-points {
  margin-left: -50px;
  display: flex;
  flex-direction: column;
  gap: 0;
  color: #000;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px; /* 135% */
  text-align: center;
  list-style-type: none;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 48px;
  max-width: 240px;
  margin-right: 50px;
}
.footer-contacts {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  color: #000;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px; /* 135% */
}
